/* h1-h6加粗 */
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

/* 导航栏 */
.container-fluid {
    padding: 0 20px;
}

.navbar-header button {
    margin-top: 15px;
}

.navbar-header img {
    height: 70px;
    margin-left: 15px;
    padding: 0;
}

.collapse ul {
    margin-top: 10px;
}

.collapse span {
    margin-right: 5px;
}

/* 首页 */
#home {
    background-image: url(/img/home-bg.jpg);
    background-size: cover;
    margin-top: 70px;
    text-align: center;
}
    /* 遮罩 */
.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    padding: 70px 0;
}

#home p {
    color: #fff;
}

/* 论坛 */
#bbs {
    text-align: center;
    padding: 50px 0;
}

#bbs .col-md-4 {
    padding: 20px 0;
}

#bbs .col-md-4:hover {
    background-color: #eee;
    box-shadow: 1px 1px 2px #999;
}

/* 前端开发 */
#html5,#BootStrap {
    padding: 70px 0;
}
#html5 {
    background-color: #eee;
}

#html5 p ,#BootStrap p {
    margin-bottom: 20px;
}

#html5 span ,#BootStrap span {
    width: 32px;
    height: 32px;
    border-radius: 15px;
    background-color: rgb(34, 207, 181);
    text-align: center;
    line-height: 32px;
    margin-right: 5px;
    color: #fff;
}

/* 最新课程 */
#course {
    padding: 70px 0;
    text-align: center;
    background-color: #eee;
}

#course .content {
    margin-top: 45px;
    background-color: #fff;
}

#course button {
    color: rgb(34, 207, 181);
    border-color: rgb(34, 207, 181);
    margin: 15px 0;
    border-radius: 0%;
}

#course button:hover {
    color: #fff;
    background-color: rgb(34, 207, 181);
}

/* app */
#app {
    padding: 70px 0;
}

#app p {
    margin-top: 20px;
}

#app button {
    width: 150px;
    background-color: rgb(34, 207, 181);
    color: white;
    border-color: rgb(34, 207, 181);
    border-radius: 0%;
}

#app span {
    margin-right: 5px;
}

/* 联系我们 */
#footer {
    background-image: url(/img/contact-bg.png);
    color: #fff;
}

#footer span {
    margin-right: 5px;
}

#footer p {
    margin: 25px 0;
}

#footer input,#footer textarea {
    margin-bottom: 20px;
    border-radius: 0%;
}

#footer input {
    height: 50px;
}

#footer button {
    width: 200px;
    border-radius: 0%;
    background-color: rgb(34, 207, 181);
    color: #fff;
    border-color: rgb(34, 207, 181);
}